<div class="table-container">
  {{ember-sortable-table
    hasFooter=false
    columns=tableColumns
    enableColumnReorder=false

    rows=tableContent
    defaultSortAscending=true
    initialSortKey="open"
  }}


</div>
