<div class="table-container">
  {{ember-sortable-table
    hasFooter=false
    columns=tableColumns
    content=sortedRows
    enableColumnReorder=false
    sortAction="sort"
    sortAscending=sortAscending
  }}

</div>
