<nav class="navbar navbar-default">

    <div class="container-fluid">
        <div class="navbar-header">
            <div>
                <h2>Data Table Demo</h2>
            </div>
        </div>
    </div>
</nav>